//- submit hotel to database
//-http://localhost:3000/admin/add
extends layout 
include mixins/_hotel_form

//- create hotel upload form
//- form fields/input name properties must match the model schema
//- action to same page
block content
  a(href="/admin")
    button(type="button" class="button_small") Back to Admin
  h2= title
  +hotelForm(hotel)
//- include mixin with the variable
  